/*
 *
 * General Styling
 *
 */

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  color: #55606E;
  background: #ccccff;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.weather-app-title {
  text-align: center;
  margin-top: 2%;
}

.weather-app-box {
  display: inline-block;
  min-height: 300px;
  max-width: 800px;
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.weather-app-box p {
  font-size: 30px;
}

.weather-app-box p:first-letter {
  text-transform:capitalize;
}

.weather-app-box p span {
  color: blue;
}

.wunderground-logo-mark {
  text-align: center;
  padding-top: 10px;
}

.wunderground-logo {
  max-width: 150px;
  max-height: 100px;
  margin: auto;
}